﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <div class ="row-fluid">
        <div class ="span12" id ="frame-top">
            <h1>title</h1>
            <div class ="row-fluid">
                <div class ="span2" id ="frame-left"> 
                <div id="nav_menu">
                    <%= Eventub.Module.queueModule("nav_menu/nav_menu","nav_menu",{},"nav_menu") %>
                </div>
                    
                </div>
                <div class ="span10" id ="frame-right">
                    <div id="profile_pane" style="display:none;">
                        <%= Eventub.Url.addLoadTrigger("profile_pane/profile_pane","profile_pane",{},"profile_pane","/profile") %>
                    </div>
                     <div id="feed" style="display:none;">
                        <%= Eventub.Url.addLoadTrigger("feed/feed","feed",{},"feed","/feed") %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="floating_user_card">
        <%= Eventub.Module.queueModule("user_card/user_card","floating_user_card",{},"floating_user_card") %>
    </div>
</body>
</html>