﻿body{}

.userListViewCard {
    width:200px;
    height:100px;
    border-radius:3px;
    border: 1px solid #B2B2B2;
    margin-right :40px;
    margin-top:40px;
    display:inline-block;
    position:relative;
}

.userListViewCard ul li {
    list-style:none;
}