@charset "utf-8";

.comment {
	margin-top: 20px;
	min-height: 50px;
	clear: both;
}
.comment-avatar {
	float: left;
}
.comment-content-wrap {
	margin-left: 60px;
	margin-bottom: 10px;
	padding-top: 0px;
}
.comment-content {
	margin-bottom: 10px;
}
.timestamp {
	color: #999;
	float: right;
}/* CSS Document */

