<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" href="/Styles/Header.min.css" rel="stylesheet" />
    <link type="text/css" href="/Styles/Default.min.css" rel="stylesheet" />
    <link type="text/css" href="/Styles/Buttons.min.css" rel="stylesheet" />
    <link type="text/css" href="/Styles/jquery-ui.min.css" rel="stylesheet" />
    <link type="text/css" href="/Styles/Tokenized.min.css" rel="stylesheet" />
    <link type="text/css" href="Template.css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.form.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.collapsible.js"></script>
    <script type="text/javascript" src="/Scripts/LoginBox.js"></script>
    <script type="text/javascript" src="/Scripts/DropdownMenu.js"></script>
    <script type="text/javascript">
        $(function () {
            function initButtons() {
                var notificationButton =
                    new Bahen.Web.NotificationDropdownMenu(
                    $('#notificationButton'), '/Ajax/NotificationHandler.ashx');
                var settingsButton =
                    new Bahen.Web.SettingsDropdownMenu(
                    $("#settingsButton"));
            }
            initButtons();
        });
    </script>
    <title>Event template</title>
    </head>

    <body>
<header>
      <div id="header">
    <div id="sitelink"> <a href="/">Yodou</a> </div>
    <div class="header-link"> <a href="/users/<%=Session.GetAuthenticatedUserID() %>"> <img src='/Images/profile.png' style="width: 15px;" /> </a> </div>
    <div class='header-link' id='notificationButton'> <img src='/Images/message.png' style="margin-top: 3px; width: 20px;" /> </div>
    <div class='header-link' id='settingsButton'> <img src='/Images/settings.png' style="width: 22px;" /> </div>
    <div class="search-box">
          <form method="get">
        <label for="search-query" class="" style="display: block;">活动名称、地点、介绍、舞台剧</label>
        <div class="search-input">
              <input id="search-query" type="text"/>
            </div>
        <div class="search-button">
              <input type="submit" value="" />
            </div>
      </form>
        </div>
  </div>
    </header>
<div id="body-wrapper">
      <div id="left-side-column" class="top-align">
    <div id="event-profile-picture"> <img src="event.jpg" class="event-profile-picture"/> </div>
    <div id="event-host" class="user-thumbnail-pane">
          <h3>Hosts</h3>
          <div class="user-thumbnail-pane-content"> <img src="frank.jpg" class="user-thumbnail"/> <img src="james.jpg" class="user-thumbnail"/> <img src="maria.jpg" class="user-thumbnail"/> </div>
        </div>
    <div id="event-people-going" class="user-thumbnail-pane">
          <h3>56 People Going</h3>
          <div class="user-thumbnail-pane-content"> <img src="frank.jpg" class="user-thumbnail"/> <img src="james.jpg" class="user-thumbnail"/> <img src="maria.jpg" class="user-thumbnail"/><img src="frank.jpg" class="user-thumbnail"/> <img src="james.jpg" class="user-thumbnail"/> <img src="maria.jpg" class="user-thumbnail"/><img src="frank.jpg" class="user-thumbnail"/> <img src="james.jpg" class="user-thumbnail"/> </div>
        </div>
    <div id="event-people-interested" class="user-thumbnail-pane">
          <h3>132 People Interested</h3>
          <div class="user-thumbnail-pane-content"> <img src="lili.jpg" class="user-thumbnail"/> <img src="andy.jpg" class="user-thumbnail"/> <img src="iven.jpg" class="user-thumbnail"/><img src="frank.jpg" class="user-thumbnail"/> <img src="james.jpg" class="user-thumbnail"/> <img src="maria.jpg" class="user-thumbnail"/><img src="frank.jpg" class="user-thumbnail"/> <img src="james.jpg" class="user-thumbnail"/> </div>
        </div>
  </div>
      <div id="main-column" class="top-align">
    <div id="event-title-pane" class="top-align">
          <h1> MOMA后山音乐艺术节——卡奇社「当代女声+」专场演出 </h1>
          <div id="event-title-detail-pane-wrapper">
        <div id="event-title-detail-pane">
              <div class="event-title-detail"> <span class="property">Time:</span> <span class="content">January 23, 2013</span> </div>
              <div class="event-title-detail">
            <div class="property"> <span class="property">Location:</span></div>
            <div class="content">后山艺术中心 北京市东城区东直门香河园路1号当代MOMA院内百老汇电影中心往北T8楼北侧</div>
          </div>
              <div class="event-title-detail"> <span class="property">Admission:</span> <span class="content">Free</span> </div>
              <div class="event-title-detail"> <span class="property">Organizer:</span> <span class="content">后山艺术中</span>心 </div>
              <div class="event-title-detail"> <span class="property">Category:</span> <span class="content">音乐</span> </div>
            </div>
        <div class="event-map-pane"> <img src="googlemap.png"/> </div>
      </div>
          <div class="event-action-box"> <a class="event-action-button" href=""><span>Join</span></a> <a class="event-action-button" href=""><span>Interested</span></a> <a class="event-action-button invite" href=""><span>Invite People</span></a> </div>
          <div class="event-share-box"> <a class="event-action-button share" href=""><span>Like</span></a> <a class="event-action-button share" href=""><span>Share</span></a> </div>
        </div>
    <div id="event-description-box">
          <h2>Description</h2>
          <p>「当代女声+」卡奇社专场 19日MOMA后山音乐艺术节上演
      <p> 1月19日MOMA后山音乐艺术节再次开启「当代女声+」的演出，这次将是十分富有人气的流行电音乐团“卡奇社”。 卡奇社的音乐旋律灵动且唯美，与一般的小清新相比，更透着一种辽阔与旷远，让人不禁心旷神怡。这次北京的专场演出，他们不仅会演唱之前大家熟悉的歌曲，还将演唱大家期待已久的新作品。在北京经历了雾霾之后，周末的时候非常适合来后山艺术空间来倾听下卡奇社的声音。 </p>
          <p> 卡奇社成员的两位成员颗粒和Fly都来自于青岛并在那里长大，这两个80后的年轻人各自玩着自己的音乐。尽管早在2000年就已经结识，直到2005年，两个人才发现彼此对音乐的感觉出奇的一致，卡奇社也于这一年正式成立。卡奇社说：“因为同样喜爱音乐的趣味，我们俩走到一起，从此，每一首歌的创作都是一个故事。生活中那些和同龄人一样的不快乐在音乐里变成了糖果，一粒一个滋味，给我们惊喜连连。” </p>
          <p> 他们用最简单的设备创作出了大部分作品，偶然被唱片公司发现之后，才开始了真正的音乐生涯。在如今这个处处都标榜大制作大手笔大融合的商业化时代，这两个年青人用简单质朴的方式表达出他们心中不时髦却不会落伍的音乐。国内主流媒体对卡奇社的音乐评论为：在口水歌大流行的时代，难得听到这样的声音。 </p>
          <p> 卡奇社的歌曲以一种悠然而充满趣味的方式完成，词曲自然天成。作品中微妙的歌词渗透出童话式的天真，在字里行间传达着这两个年轻人私密的内心世界。两位成员有着各自明确的音乐分工，自然而舒服地相互配合。有别于“先创作后编曲”的传统模式，卡奇社有着自己独特的创作程序——“先有编曲部分，后有词曲创作”。这使得卡奇社的音乐有着很强的整体感，达到了编曲与词曲的完全融合。 </p>
          <p> 「当代女声+」“卡奇社“专场是MOMA后山音乐艺术节推出的演出之一，由树音乐唱片公司策划执行。“MOMA后山音乐艺术节”由知名艺术地产品牌当代MOMA联合独立音乐艺术运营机构后山艺术空间、知名音乐艺术策展品牌“树音乐”协力推出的大型音乐艺术项目。MOMA后山艺术节不同于传统音乐节或艺术联展，而是全方位的综合的全艺术表达音乐方面。对于一直致力于打造全文艺生活方式的当代MOMA艺术园区来说，这样一场得到众多文艺青年追捧的演出，增加了MOMA社区的艺术形式和艺术氛围，使其原本的文艺生态环境更加完善，当代MOMA必将打造为北京城内核心地区的全文艺生活新地标。 </p>
        </div>
    <div id="event-comment-box">
          <h2>2 Comments</h2>
          <div class="comment">
        <div class="comment-avatar"><img class="user-thumbnail" src="maria.jpg"/></div>
        <div class="comment-content-wrap"><div class="comment-content">How to register????</div><span class="timestamp">Just now</span> </div>
        </div>
          <div class="comment">
        <div class="comment-avatar"><img class="user-thumbnail" src="frank.jpg"/></div>
        <div class="comment-content-wrap"><div class="comment-content">I like this event</div><span class="timestamp">Tuesday, 14 January, 2013</span> </div>
        </div>
          <div class="comment">
        <div class="comment-avatar"><img class="user-thumbnail" src="james.jpg"/></div>
        <div class="comment-content-wrap"><div class="comment-content">I hate this event</div><span class="timestamp">Monday, 13 January, 2013</span> </div>
      </div>
        </div>
  </div>
      <div id="right-side-column" class="top-align">
    <div class="ads-column"> <img src="ads.jpg"/> </div>
    <div id="related-events-box">
          <h2>Related Events</h2>
          <div class="event-brief-box inline-block top-align">
        <div class="event-brief-box-picture"> <img src="Event1.png"/> </div>
        <div class="event-brief-box-info">
              <div class="event-brief-box-title"><a href="/events/1">MOMA后山音乐艺术节——卡奇社「当代女声+」专场演出</a></div>
              <div class="event-brief-box-content inline-block"> Monday, January 14, 2013 10:00 PM<br>
            后山艺术中心<br/>
            Category: 音乐 </div>
            </div>
      </div>
          <div class="event-brief-box inline-block top-align">
        <div class="event-brief-box-picture"> <img src="Event2.png"/> </div>
        <div class="event-brief-box-info">
              <div class="event-brief-box-title"><a href="/events/2">为了告别的聚会——阿兰吉他演奏专辑视听会</a></div>
              <div class="event-brief-box-content"> Wednesday, January 16, 2013 10:00 PM<br/>
            后山艺术中心<br/>
            Category: 音乐 </div>
            </div>
      </div>
        </div>
  </div>
    </div>
<footer>
      <p>&copy; 2013 - Yodou.com</p>
    </footer>
</body>
</html>
