@charset "utf-8";
/* CSS Document */

header {
    height: 38px;
    width: 1180px;
    color: white;
    margin-left: 130px;
    position: relative;
    border-top: 1px solid black;
}

    header #menu {
        display: inline-block;
        position: absolute;
        left: -80px;
        width: 80px;
        margin-top: -1px;
    }

    header #sitelink {
        font-family: 'VariableLight', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
        /*display: inline-block;*/
        margin-bottom: 20px;
        /*position: absolute;*/
        font-size: 18pt;
        font-weight: 700;
        color: black;
        border-top: 1px solid black;
    }

        header #sitelink a {
            color: black;
            text-decoration: none;
        }

            header #sitelink a:hover {
                color: #ccc;
            }

    header #loginForm {
        color: black;
        background-color: white;
        border: solid 1px #ccc;
        border-radius: 4px;
        padding: 10px;
    }

.header-link {
    /*display: inline;
    *display: inline;*/
    /*float: right;*/
    padding: 3px;
    color: #37a;
    font-weight: 700;
    font-size: 8pt;
    cursor: pointer;
}

    .header-link:hover {
        color: #ccc;
    }
