@charset "utf-8";
/* Separable Components */
.search-box {
	position: relative;
	/*display: inline-block;*/
	float: right;
	margin: 3px 30px 0 0;
}
.search-box label {
	position: absolute;
	left: 12px;
	top: 3px;
	line-height: 26px;
	cursor: text;
	color: #bbb;
	font-size: 9pt;
}
.search-input {
	width: 218px;
	height: 28px;
	background: #fff;
	border: 1px solid #e3e2de;
	text-align: left;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.search-input input {
	margin: 0;
	width: 182px;
	height: 26px;
	border: none;
	outline: none;
	padding-left: 6px;
}
.search-button {
	position: absolute;
	left: 190px;
	top: 2px;
	right: 0;
	width: 28px;
	height: 26px;
	border-left: none;
	background-color: #fff;
	font-size: 0;
	overflow: hidden;
}
.search-button input {
	width: 30px;
	height: 28px;
	padding: 0;
	margin: 0;
	line-height: 100px;
	border: none;
	background: transparent url(http://img3.douban.com/pics/icon/bn_srh_1.png) no-repeat 50% 50%;
}/* CSS Document */

