@charset "utf-8";
/* CSS Document */
body {
	font-family: "Segoe UI", "Microsoft YaHei UI";
	line-height: 1.62;
}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16pt;
	font-weight: 500;
	margin-bottom: 20px;
}
h2 {
	color: #ff9900;
	font-weight: 600;
	font-size: 11pt;
	margin-top: 30px;
	margin-bottom: 5px;
}
h3 {
	color: #37a;
	font-weight: 500;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	margin-top: 20px;
	margin-bottom: 5px;
}
h6 {
	font-size: 9pt;
	font-weight: 600;
	color: #999;
	display: inline;
}

.ads-column {
	width: 100%;
}
.ads-column img {
	width: 100%;
}
.event-profile-picture {
	width: 190px;
	margin-bottom: 20px;
}
/* Event brief box */
.event-brief-box {
	width: 240px;
	height: 135px;
	font-size: 9pt;
	margin-bottom: 20px;
}
.event-brief-box-info {
	margin-left: 80px;
	width: 155px;
}
.event-brief-box-title {
	font-weight: 500;
	font-size: 10pt;
}
.event-brief-box-picture {
	float: left;
	overflow: hidden;
	width: 70px;
}
.event-brief-box-picture img {
	width: 70px;
	height: 100px;
}
.event-brief-box-content {
	color: #666;
}
.event-action-button {
	border-radius: 4px;
	border: 1px solid #F69;
	background-color: #FBD9F8;
	text-decoration: none;
	color: #ff7676;
	padding: 3px;
}
.event-action-button span {
	color: #ff7676;
}
.event-action-button.share {
	background-color: #fff;
	border-color: #fff;
}
/*.event-action-button.invite {
	background-color: #FEEDBA;
	border-color: #F93;
}
.event-action-button.invite span {
	color: #F63;
}*/
.event-action-button:hover {
	text-decoration: none;
	background-color: #F9C;
	color: #ffffff;
	border-color: #F36;
}
/*.event-action-button.invite:hover {
	background-color:#FABE0A;
	border-color: #F63;
}*/.event-action-button.share:hover {
	background-color: #fff;
	border-color: #fff;
}
.event-action-button:hover span {
	color: #ffffff;
}
.event-action-button.share:hover span {
	color: #F36;
}
.event-action-box {
	display: inline-block;
}
.event-share-box {
	display: inline-block;
	margin-left: 100px;
}
/*.event-action-button:nohover {
 color: #ff7676;
}*/
/*.event-action-button:visited {
	color: #ff7676;
}
.event-action-button:visited {
	color: #ff7676;
}*/
.user-thumbnail-pane {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
.user-thumbnail-pane-content {
	margin-top: 10px;
	width: 100%;
	overflow: hidden;
}
.user-thumbnail {
	margin: 2px;
	width: 40px;
	height: 40px;
}
#event-title-pane {
	font-size: 10pt;
}
#event-title-detail-pane-wrapper {
	margin-bottom: 20px;
}
#event-title-detail-pane {
	display: inline-block;
	vertical-align: top;
	width: 45%;
}
.event-title-detail {
	margin-bottom: 5px;
	display: block;
	clear: left;
	min-height: 1.5em;
}
.event-title-detail .property {
	color: #999;
	margin-left: 0;
	float: left;
	font-size: 9pt;
	font-weight: 600;
	float: left;
}
.event-title-detail div.property {
	display: inline-block;
}
.event-title-detail .content {
	margin-left: 10px;
	float: left;
}
.event-title-detail div.content {
	display: inline-block;
	width: 160px;
	clear: both;
	float: none;
}
.event-map-pane {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin-left: 4%;
	width: 50%;
}
.event-map-pane img {
	width: 90%;
}
#event-description-box {
	font-size: 9pt;
	font-color: #333;
}
#event-comment-box {
	font-size: 9pt;
	font-color: #333;
}
#related-events-box {
	width: 100%;
}
/* General Utility Classes */
.top-align {
	vertical-align: top;
}
.inline-block {
	display: inline-block;
}
#header {
	display: block;
}
#body-wrapper {
	margin: 20px auto 20px auto;
	width: 1020px;
	padding: 10px 20px 20px 20px;
}
#left-side-column {
	display: inline-block;
	width: 190px;
	margin-right: 30px;
}
#main-column {
	display: inline-block;
	width: 520px;
	margin-right: 30px;
}
#right-side-column {
	display: inline-block;
	width: 240px;
}
