@charset "utf-8";
/* CSS Document */
body {
    padding: 0;
    margin: 0;
    margin-top: 10px;
    font-family: 'Segoe UI' 'Microsoft YaHei UI';
    font-size: 9pt;
    min-width: 1300px;
}

a {
    color: #37a;
    text-decoration: none;
}

    a:hover {
        color: #ccc;
        text-decoration: none;
    }

footer {
    margin-top: 20px;
    padding-left: 130px;
    color: #ccc;
}

p {
    padding-bottom: 10px;
}

h1 {
    font-size: 20pt;
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

h2 {
    color: #666;
    font-weight: 600;
    font-size: 9pt;
    margin-top: 30px;
    margin-bottom: 5px;
}

h3 {
    color: #37a;
    font-weight: 500;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    margin-top: 20px;
    margin-bottom: 5px;
}

h6 {
    font-size: 9pt;
    font-weight: 600;
    color: #999;
    display: inline;
}

#body-wrapper {
    margin-left: 130px;
    margin-top: 280px;
    width: 1000px;
}

#main-column {
    display: inline-block;
    width: 700px;
    margin-right: 50px;
    margin-top: 20px;
}

#side-column {
    display: inline-block;
    width: 170px;
}

.event-pic-column {
    display: inline-block;
    width: 300px;
}

.event-title-pane {
    padding-top: 10px;
    width: 600px;
    margin-left: 30px;
}

#event-title-detail-pane-wrapper {
    margin-bottom: 20px;
}

#event-title-detail-pane {
    display: inline-block;
    vertical-align: top;
}

.event-title-detail {
    margin-bottom: 5px;
    display: block;
    clear: left;
    min-height: 1.5em;
}

    .event-title-detail .property {
        color: #999;
        margin-left: 0;
        float: left;
        font-size: 9pt;
        font-weight: 600;
        float: left;
    }

    .event-title-detail div.property {
        display: inline-block;
    }

    .event-title-detail .content {
        margin-left: 10px;
        float: left;
    }

    .event-title-detail div.content {
        display: inline-block;
        width: 360px;
        clear: both;
        float: none;
    }

.event-map-pane {
    text-align: right;
    width: 50%;
}
/* Event brief box */
.event-brief-box {
    width: 240px;
    height: 100px;
    font-size: 9pt;
    margin-bottom: 20px;
}

.event-brief-box-info {
    margin-left: 80px;
    width: 155px;
}

.event-brief-box-title {
    font-weight: 500;
    font-size: 10pt;
}

.event-brief-box-picture {
    float: left;
    overflow: hidden;
    width: 70px;
}

    .event-brief-box-picture img {
        width: 70px;
        height: 100px;
    }

.event-brief-box-content {
    color: #666;
}
/* General Utility Classes */
.top-align {
    vertical-align: top;
}

.inline-block {
    display: inline-block;
}

.user-thumbnail-pane {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.user-thumbnail-pane-content {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
}

.user-thumbnail {
    margin: 2px;
    width: 40px;
    height: 40px;
}

.event-action-box {
    display: inline-block;
    margin-bottom: 15px;
    height: 20px;
}

.event-share-box {
    margin-top: 20px;
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 15px;
    height: 20px;
}

.event-action-box a {
    margin-right: 5px;
}

.event-share-box a {
    margin-right: 5px;
}

.album-brief-preview {
    display: inline-block;
    vertical-align: top;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 5px;
}

.album-brief img {
    max-width: 150px;
    max-height: 100px;
}
