﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery-cookie/jquery.cookie.min.js"></script>
    <script src="/js/util/web.js"></script>
    <script>WebUtilities.logout();</script>
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
