﻿a.button-large {
    color: white;
}

.button-large {
    display: inline-block;
    margin-bottom: 0;
    padding: 4px 12px;
    border-color: #04C #04C #002A80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background-color: #006ECC;
    background-image: -moz-linear-gradient(top, #08C, #04C);
    background-image: -o-linear-gradient(top, #08C, #04C);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#04C));
    background-image: -webkit-linear-gradient(top, #08C, #04C);
    background-image: linear-gradient(to bottom, #08C, #04C);
    background-repeat: repeat-x;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    color: white;
    vertical-align: middle;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-size: 13px;
    line-height: 18px;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF0088CC', endColorstr='#FF0044CC', GradientType=0);
    cursor: pointer;
    font-family: 'Segoe UI';
    font-weight: 500;
}

    .button-large:hover {
        background-image: none;
        text-decoration: none;
    }
