﻿body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI' 'Microsoft YaHei UI';
}

    body a {
        color: #37a;
        text-decoration: none;
    }

        body a:hover {
            text-decoration: underline;
        }

        body a:visited {
            color: #37a;
        }

#body-wrapper {
    width: 950px;
    margin: 20px auto 0 auto;
    padding: 0px 20px 20px 20px;
    /*background-color: rgb(250,250,250);*/
}

footer {
    margin-top: 20px;
    width: 100%;
    color: #ccc;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box { /*margin: 10px;*/
    padding: 5px;
    border: solid 1px #ccc;
}

.shaded-box {
    margin: 10px;
    padding: 5px;
    background-color: rgb(240,240,240);
}

.thumbnail-list {
    overflow-x: hidden; /*overflow-y: visible;*/
    max-height: 400px;
    width: 210px;
    height: auto;
}

.separator {
    margin-bottom: 20px;
    border-bottom: solid 1px #ccc;
}


.profile-picture-thumbnail {
    display: inline-block;
    float: left;
    padding: 2px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: right;
    font-size: 8pt;
    cursor: pointer;
}

.hasTooltip {
    position: relative;
}

    .hasTooltip:hover:before, .hasTooltip:hover:after {
        visibility: visible;
    }

    .hasTooltip:before {
        position: absolute;
        top: 45px;
        left: 20px;
        z-index: 100;
        visibility: hidden;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #404040;
        border-left: 5px solid transparent;
        content: "";
    }

    .hasTooltip:after {
        position: absolute;
        top: 50px;
        left: 0px;
        z-index: 100;
        visibility: hidden;
        padding: 5px 15px;
        border-radius: 10px;
        background: #404040;
        color: white;
        content: attr(data-tooltip);
        white-space: nowrap;
    }

.menu {
    padding: 5px;
}

.borderless {
    border: none;
}

    .borderless:focus {
        outline-width: 0;
    }

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.round-corner-label-green {
    border: 1px solid #2ccf57;
    background-color: #d2f6d1;
    color: #2ccf57;
    border-radius: 2px;
    text-align: center;
    padding: 2px;
}
