﻿header {
    padding-left: 10px;
    height: 38px;
    background-color: #ff9900;
    color: white;
    font-size: 15pt;
}

    header #sitelink {
        font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
        margin-top: 5px;
        display: inline-block;
    }

        header #sitelink a {
            color: white;
            text-decoration: none;
        }

            header #sitelink a:hover {
                color: #ccc;
            }

    header #loginForm {
        color: black;
        background-color: white;
        border: solid 1px #ccc;
        border-radius: 4px;
        padding: 10px;
    }

.header-link {
    display: inline;
    *display: inline;
    float: right;
    padding: 8px;
    color: white;
    font-weight: 700;
    font-size: 9pt;
    cursor: pointer;
}

    .header-link:hover {
        color: #8b3c0d;
    }
