﻿.notification {
    cursor: pointer;
    border-top: solid 1px #ccc;
    font-size: 9pt;
    font-weight: 500;
    color: #000;
}

    .notification.unread {
        border-left: 3px blue solid;
    }

    .notification:hover {
        background-color: #dff7ff;
    }
