﻿<!DOCTYPE html>
<%@ Import Namespace="Bahen.Common" %>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title></title>
    <link rel=  "stylesheet" type="text/css" href ="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel ="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap-responsive.css" />
     <link rel=  "stylesheet" type="text/css" href ="/app/styles/elements.css" />
   <link rel=  "stylesheet" type="text/css" href ="/app/styles/ui.css" />
    <script src ="/lib/jquery/jquery.min.js"></script>
    <script src ="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script  data-main="/App/common/app.js" src ="/lib/require/require.js"></script>
    <script>
        var csrfToken = "<%=Response.GetCsrfToken()%>";
    </script>
   
</head>
<body>
    
    
        

  
   

</body>
</html>
