﻿<div class="eventListViewCard" >
    <div class ="row" >
            <ul>
                <li>name: <%= name %></li>
                <li>start time: <%= startTime %></li>
                <li>end time: <%= endTime %></li>
                <li>rsvpStatus <%= rsvpStatus %></li>
            </ul>
          
     </div>
    
</div>