﻿<div class="userListViewCard listViewCard" >
    <div class ="row" >
        <div class ="span4">
                 <img src="" class="profile-pic" />
          </div>
           <div class ="span8">
               <ul>
                 <li><%= name %> </li>
                </ul>
           </div>
     </div>
    
</div>