﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="EventList.aspx.cs" Inherits="Bahen.Web.EventList" %>

<a href="CreateEvent.aspx">Create new event</a><br />
<a href="Default.aspx">Home</a>