﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="Bahen.Web.SiteMaster" %>

<%@ Import Namespace="Bahen.Web.Tools" %>
<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <title><%: Page.Title %> - My ASP.NET Application</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <asp:ContentPlaceHolder runat="server" ID="HeadContent" />

    <link type="text/css" href="/Styles/Header.min.css" rel="stylesheet" />
    <link type="text/css" href="/Styles/StyleHandler.ashx" rel="stylesheet" />
    <link type="text/css" href="/Styles/Buttons.min.css" rel="stylesheet" />
    <link type="text/css" href="/Styles/jquery-ui.min.css" rel="stylesheet" />
    <link type="text/css" href="/Styles/Tokenized.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.form.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.collapsible.js"></script>
    <script type="text/javascript" src="/Scripts/LoginBox.js"></script>
    <script type="text/javascript" src="/Scripts/DropdownMenu.js"></script>

    <script type='text/javascript'>
        $(function () {
            function initButtons() {
                var notificationButton =
                    new Bahen.Web.NotificationDropdownMenu(
                    $('#notificationButton'), '/Ajax/NotificationHandler.ashx');
                var settingsButton =
                    new Bahen.Web.SettingsDropdownMenu(
                    $("#settingsButton"));
                var loginButton = new Bahen.Web.LoginBox($("#loginButton"), initButtons);
            }
            initButtons();
        });
    </script>
</head>
<body>
    <header>
        <div id="header">
            <div id="sitelink">
                <a href="/"><%=ConfigurationManager.AppSettings["SiteName"] %></a>
            </div>
            <%if (Session.IsAuthenticated())
              { %>

            <div class="header-link">
                <a href="/users/<%=Session.GetAuthenticatedUserID() %>">
                    <img src='/Images/profile.png' style="width: 15px;" />
                </a>
            </div>

            <div class='header-link' id='notificationButton'>
                <img src='/Images/message.png' style="margin-top: 3px; width: 20px;" />
            </div>

            <div class='header-link' id='settingsButton'>
                <img src='/Images/settings.png' style="width: 22px;" />
            </div>
            <%}
              else
              { %>
            <div class="header-link" id="loginButton">Login</div>
            <%} %>
        </div>
    </header>
    <div id="body-wrapper">
        <asp:ContentPlaceHolder runat="server" ID="MainContent" />
    </div>
    <footer>
        <div id="footer">
            <p>&copy; <%: DateTime.Now.Year %> - Niubility.com</p>
        </div>
    </footer>
</body>
</html>
