﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UserHomepage.aspx.cs" Inherits="Bahen.Web.UserHomepage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <asp:Label ID="BodyLabel" runat="server">
        <form id="form1" runat="server">
        <div>
    
        </div>
        </form>

    </asp:Label>
</body>
</html>
