﻿
<div class ="profile_pane">
    <div id="profile_summary">
        <%= Eventub.Module.queueModule("profile_pane/profile_summary/profile_summary","profile_summary", {"model": Eventub.Auth.getCurrentUser()}, "profile_summary") %>
    </div>

    <div class="navbar">
        <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </a>
                  
            <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav">
                <li class="active"><a href="#profile/followings">following</a></li>
                <li><a href="#profile/followers">follower</a></li>
                <li><a href="#profile/events">events</a></li>
                    
            </ul>
            </div><!-- /.nav-collapse -->
        </div>
        </div><!-- /navbar-inner -->
    </div>
   
    <div id ="followings_list"></div>
    <div id ="followers_list"></div>
    <div id ="events_list"></div>

   
</div>

